*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:hsl(212, 45%, 89%);
    font-family:Arial, sans-serif;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.container{
    width:320px;
    background:white;
    padding:16px;
    border-radius:20px;
    text-align:center;
}

.container img{
    width:100%;
    border-radius:12px;
}

.container h2{
    margin-top:20px;
    color:hsl(218, 44%, 22%);
    font-size:22px;
    font-weight:700;
}

.container p{
    margin-top:15px;
    margin-bottom:20px;
    color:hsl(220, 15%, 55%);
    font-size:15px;
    line-height:1.5;
}